html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,em,img,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,i,b,s { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font: 12px/22px Microsoft yahei,Helvetica,Arial }
ul,ol { list-style: none }
a img { border: none; vertical-align: top } a { text-decoration: none }
button { overflow: visible; padding: 0; margin: 0; border: 0 none; background-color: transparent }
button::-moz-focus-inner { padding: 0 }
textarea,input { background: none; padding: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
input[type=password] { -webkit-text-security: disc }
textarea:focus,input:focus,button:focus { outline: none }
body { word-wrap: break-word;}
.clearfix:before,.clearfix:after { content: ""; display: table }
.clearfix:after { clear: both }
.clearfix { *zoom:1}
.fl{float: left;}
.fr{float: right;}
.no-line{border: 0 none;}
.container{margin: 0 auto 50px;}
/*icon*/
.i{background-image: url(../images/sprite.png);display: block;}
.i-nav1{background-position: 0 0;width: 26px;height: 26px;}
.i-nav2{background-position: 0 -27px;width: 26px;height: 26px;}
.i-nav3{background-position: 0 -54px;width: 26px;height: 26px;}
.i-nav4{background-position: 0 -81px;width: 26px;height: 26px;}
.i-nav5{background-position: 0 -108px;width: 26px;height: 26px;}
.i-nav6{background-position: 0 -136px;width: 26px;height: 26px;}
.i-search{background-position: 0 -163px;width: 26px;height: 26px;}
.i-slide-l{background-position: -27px 0;width: 32px;height: 61px;}
.i-slide-r{background-position: -60px 0;width: 32px;height: 61px;}
.i-serve{background-position: -27px -62px;width: 78px;height: 68px;}
.i-order{background-position: -27px -131px;width: 78px;height: 68px;}
.i-pact{background-position: -93px 0;width: 32px;height: 40px;}
.i-buy{background-position: -127px 0;width: 37px;height: 47px;}
.i-back{background-position: -165px 0;width: 41px;height: 42px;}
.i-wetchat{background-position: -105px -48px;width: 35px;height: 27px;}
.i-weibo{background-position: -141px -48px;width: 35px;height: 27px;}

/*header*/
.header{height: 78px;margin-bottom: 1px;position: relative;}
.header h1{float: left;}
.logo{background: url("../images/logo.jpg") no-repeat;display: block;width: 185px;height: 77px;}
.nav{overflow: hidden; zoom: 1;}
.nav ul li{background: #ccc;float: left;height: 77px;width: 164px;margin-right: 1px;text-align: center;}
.nav ul li a{font-size: 14px; display: block;padding-top: 15px; height: 28px; line-height: 28px;color: #4c4c4c;}
.nav ul li a:hover{color: #000}
.nav ul li a i{margin: 0 auto;}
.nav ul li.search{height: 65px;padding-top: 12px;}

/*public*/
.row1{float: left;width: 726px;margin-right: 1px;}
.row2{float: left;width: 511px;margin-right: 1px;}
.row3{float: left;width: 342px;}
.title{font: 22px/22px "microsoft yahei"}

/*banner*/
.banner{width: 100%;float: left;margin-bottom: 1px;}
.banner ul li img{width: 100%;}

/*slide*/
.slide{width: 100%;height: 252px;background: #d6d6d6;position: relative;float: left;}
.slide ul {margin: 94px 0 0 32px;}
.slide ul li{float: left;width: 33%;}
.slide ul li img{width: 100%;}
.slide-l{position: absolute;left: 0;top: 50%;margin-top: -30px;}
.slide-r{position: absolute;right: 0;top: 50%;margin-top: -30px;}

/*about*/
.about{width: 100%;height: 420px;}

.about ul li{width: 50%;height: 211px;float: left;}

.about ul li h2{color: #fff;}
.about ul li p{color: #fff;line-height: 24px;}
.about-1 h2, .about-2 h2{margin: 26px 18px 50px;}
.about-3 h2, .about-4 h2{text-align: center;margin-bottom: 10px;}
.about-1 p, .about-2 p{margin: 0 18px;}
.about-3 i, .about-4 i{margin: 36px auto 24px;}
.about-3 p, .about-4 p{text-align: center}
.about-1{background: #a100aa}
.about-1 div{border-right: 1px solid #fff; border-bottom: 1px solid #fff; height: 210px; float: left;}
.about-2{background: #008a9e}
.about-2 div{border-bottom: 1px solid #fff; height: 210px; float: left;width: 100%;}
.about-3{background: #ccba1a}
.about-3 div{width: 99.8%; border-right: 1px solid #fff; float: left; height: 211px;overflow: hidden}
.about-4{background: #2d86ee}

/*report*/
.report{width: 100%;height: 124px;}
.report h3{margin: 15px 15px 18px;}
.report ul{margin: 0 15px;}
.report ul li span{line-height: 24px;display: block}
.report ul li span.fl{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/*colh*/
.colh{background: url("../images/colh.jpg") no-repeat;width:100%;height: 252px;}

/*focus*/
.focus{background: #b2b2b0;}
.contact{height: 104px;line-height: 104px;border-bottom: 1px solid #fff;font-size: 14px;color: #fff;}
.contact span{display: block;}
.phone{font-size: 22px; padding: 28px 0 0 30px;}
.email{font-size: 16px;padding-left: 30px;}
.focus-pic{height: 105px;border-bottom: 1px solid #fff;}
.focus-pic ul li{width: 33%; height: 105px; float: left; border-right: 1px solid #fff;position: relative}
.focus-pic ul li i{margin: 16px auto 0;}
.focus-pic ul li span{position: absolute;left: 15px;bottom: 10px;color: #fff;}
.bg1{background: #01a101;}
.focus-pic ul li.bg1 i{margin-top: 13px;}
.bg2{background: #a300a9;}
.bg3{background: #db552f;}
.sns{background: #b2b2b0;height: 105px;line-height: 105px;border-bottom: #fff 1px solid;}
.sns a{display: inline-block;width: 222px;height: 34px;font: 18px/34px "microsoft yahei";background: #c55656;color: #fff;text-align: center;}
.sns i{vertical-align: middle;margin-right: 22px;display: inline-block;}


/*prolist*/
.prolist{background: #eaeaea;height: 388px;}
.prolist h3{padding: 15px 15px 18px;}
.prolist ul{margin: 0 8px;}
.prolist-h{color: #999;margin-bottom: 20px;}
.prolist ul li{margin-bottom: 15px;}
.prolist ul li span{display: block;width: 25%;float: left;text-align: center;}


/*匹配尺寸1366*768*/
@media screen and (min-width: 1360px) {
    .container{width: 1340px;overflow: hidden;}
    .row1{width: 614px;}
    .row2{width: 435px;}
    .row3{width: 288px;}
    .banner ul li{height: 472px}
    .about{height: 352px;}
    .about ul li{height: 176px;}
    .about-1 div{height: 175px;}
    .about-2 div{height: 175px;}
    .about-3 div{height: 176px;}
    .about-1 h2, .about-2 h2 {margin: 26px 18px 20px;}
    .about-3 i, .about-4 i { margin: 26px auto 14px; }
    .report{ height: 105px;}
    .report ul li span.fl{width: 330px;}
    .focus-pic{height: 86px;}
    .focus-pic ul{width: 289px;}
    .focus-pic ul li{width: 95px;height: 86px;}
    .focus-pic ul li.bg3{width: 96px}
    .contact{height: 88px;line-height: 90px;}
    .sns{height: 87px;line-height: 87px;}
    .sns i{margin: 0 10px;}
    .prolist{height: 370px;}
    .prolist ul li{margin-bottom: 12px;;line-height: 22px;}
}

/*匹配1024~1280之间*/
@media screen and (max-width: 1280px) {
    .container{width: 1006px;overflow: hidden;}
    .nav ul li {width: 116px;}
    .row1{width: 446px;}
    .row2{width: 334px;}
    .row3{width: 221px;}
    .title{font: 16px/16px "microsoft yahei"}
    .banner ul li{height: 354px}
    .banner ul li img{height: 354px;}
    .about{height: 266px;}
    .about ul li{height: 133px;}
    .about ul li p{line-height: 20px;}
    .about-1 div{height: 132px;}
    .about-1 div p {height: 58px;overflow: hidden;}
    .about-2 div{height: 132px;}
    .about-3 div{width: 99.7%;height: 133px;}
    .about-1 h2, .about-2 h2 {margin: 26px 18px 20px;}
    .about-3 i, .about-4 i { margin: 26px auto 14px; }
    .report{ height: 74px;}
    .report h3{margin: 15px 15px 8px;}
    .report ul {height: 48px; overflow: hidden;}
    .report ul li span.fl{width: 230px;}
    .focus-pic{height: 65px;}
    .focus-pic ul{width: 289px;}
    .focus-pic ul li{width: 72px;height: 65px;text-indent: -9999px;}
    .focus-pic ul li.bg2 i, .focus-pic ul li.bg3 i{margin: 10px auto 0;}
    .focus-pic ul li.bg3{width: 75px}
    .contact{height: 66px;line-height: 66px;}
    .phone{font-size: 20px; padding: 12px 0 0 10px;}
    .email{font-size: 14px;padding-left: 10px}
    .sns{height: 66px;line-height: 66px;}
    .sns i{margin: 0 10px;}
    .sns a{width: 152px;}
    .prolist{height: 340px;}
    .prolist ul{margin: 0 8px; height: 280px; overflow-y: scroll;}
    .prolist ul li{margin-bottom: 12px;line-height: 16px;}
}

/*匹配800*/
@media only screen and (min-width: 630px) and (max-width: 959px){
    .container{width: 780px;overflow: hidden;}
    .nav ul li {width: 84px;}
    .row1 { width: 444px; }
    .row3 { width: 100%; }
    .sns a { width: 90%; }
    .focus-pic ul{width: 100%}
    .focus-pic ul li{width: 33%;border-right:none;}
    .focus-pic ul li.bg3{width: 34%;}
    .prolist{height: auto;}
    .prolist ul{height: auto;overflow: auto;}
}


@media only screen and (min-width: 480px) and (max-width: 629px){
    body{background: red}
}
