@charset "utf-8";

/* ================================================ Reset ================================================ */

html,body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td,blockquote,address,var,pre{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;}
button,select,textarea,input{vertical-align:middle;color:#686868;}
input[type=button],input[type=submit],input[type=reset],input[type=file],button{cursor:pointer;overflow:visible;}
button{padding:3px 5px 2px;}
textarea{resize:vertical;}  /* word-wrap for opera, resize for webkit */
a{color:#295fed;text-decoration:none;}
a:hover{text-decoration:underline;}
ul,ol{list-style:none outside none;}
img,fieldset{border:none;}
img{overflow:hidden;vertical-align:top;}
em,address,var{font-style:normal;}
sup,sub{vertical-align:baseline;}
table{border-collapse:collapse;border-spacing:0; table-layout:fixed;}
i{display:inline-block;} /*用于修饰性小图标*/
