html, body{
	margin:0; padding:0; width:100%; height:100%; overflow: hidden; 
	font:14px/1.2em Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial; 
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper, .page {
	height: 100%;
	overflow: hidden;
}
body {
	background: #444;
}
.wrapper { 
	position: relative; 
}
.page, .sparks { 
	position: absolute; 
	width: 100%; 
	left: 0; 
	top: 0; 
}

/* ## 元素背景图 ## */

.page1 .h0 { background-position: 0 0 }
.page2 .h0 { background-position: -130px 0 }
.page3 .h0 { background-position: -260px 0 }
.page4 .h0 { background-position: -390px 0 }
.page5 .h0 { background-position: 0 -310px }
.page6 .h0 { background-position: -130px -310px }
.page7 .h0 { background-position: -260px -310px }

.page1 .desc { background-position: -920px 0 }
.page2 .desc { background-position: 0 0 }
.page3 .desc { background-position: -230px 0 }
.page4 .desc { background-position: -1150px 0 }
.page5 .desc { background-position: -690px 0 }
.page6 .desc { background-position: -460px 0 }
.page7 .desc { background-position: -1380px 0 }

/* ## 公共元素定位 ## */

.page *, .arrow, .music {
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
.h0 {
	width:130px;
	height:310px;
	margin-left:-68px;
	margin-top:-160px;
	display: none;
}
.h1 {
	width: 24px;
	height: 90px;
	margin-left: -85px;
	margin-top: -151px;
	background-position: -167px -90px;
	display: none;
}
.h2 {
	width: 24px;
	height: 90px;
	margin-left: -85px;
	margin-top: -60px;
	background-position: -167px -0px;
	display: none;
}
.desc {
	width: 230px;
	height: 180px;
	margin-left: -115px;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-position: center top;
	display: none;
}
.arrow {
	width: 22px;
	height: 20px;
	background-position: -241px -122px;
	top: 100%;
	margin-left: -11px;
	margin-top: -30px;
}
.music {
	width: 25px;
	height: 25px;
	top: 0;
	left: 100%;
	margin-top: 10px;
	margin-left: -30px;
	z-index: 10;
}
.bg {
	left: -10%;
	top: -10%;
	width: 120%;
	height: 120%;
}
.bg-inner, .sparks, .lightning {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* ## 文字动画 ## */

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes fadeInUp {
	0% { opacity: 0; -webkit-transform: translate(0, 100%); }
	100% { opacity: 1; -webkit-transform: none; }
}
@-webkit-keyframes fadeInDown {
	0% { opacity: 0; -webkit-transform: translate(0, -100%); }
	100% { opacity: 1; -webkit-transform: none; }
}
@-webkit-keyframes moveUp {
	0%   { -webkit-transform: none; }
	100% { -webkit-transform: translate(0, -220px); }
}
.play .h0 {
	display: block;
	-webkit-animation: 'fadeInUp' .5s forwards;
}
.play .h1, .play .h2 {
	display: block;
	-webkit-animation: 'fadeInDown' .5s forwards;
}
.play-more .h0, .play-more .h1, .play-more .h2 {
	-webkit-transform: translate(0, -220px);
	-webkit-animation: 'moveUp' .5s forwards;
}
.play-more .desc {
	display: block;
	-webkit-animation: 'fadeInUp' .5s forwards;
}

/* ## 背景视差动画 ## */

@-webkit-keyframes moveBg {
	100% { -webkit-transform: translate(0, -40px); }
}
.play-more .bg {
	-webkit-animation: 'moveBg' .5s forwards;
}

/* #### 第0页 首页 #### */

.page0 .odd, .page0 .even {
	top: 0;
	width: 29px;
	height: 100%;
	background: url(../images/p0-bg.png) repeat-y 0 0;
	background-size: 29px 160px;
	opacity: .5;
}
.page0 .even {
	background-position: 0 80px;
}
@-webkit-keyframes p0BgAnimationOdd {
	0% { background-position: 0 0; }
	100% { background-position: 0 160px; }
}
@-webkit-keyframes p0BgAnimationEven {
	0% { background-position: 0 80px; }
	100% { background-position: 0 -80px; }
}
.page0.play .odd {
	-webkit-animation: 'p0BgAnimationOdd' 4s linear infinite;
}
.page0.play .even {
	-webkit-animation: 'p0BgAnimationEven' 4s linear infinite;
}

/* ----- */

.blush {
	width: 320px;
	height: 366px;
	margin-left: -160px;
	margin-top: -233px;
	background-image: url(../images/p0-blush.png);
}
.circle {
	width: 233px;
	height: 233px;
	margin-left: -117px;
	margin-top: -190px;
	background-image: url(../images/p0-circle.png);
}
.flash {
	width: 550px;
	height: 500px;
	margin-left: -275px;
	margin-top: -320px;
	background-image: url(../images/p0-flash.png);
	display: none;
}
.page0 .title {
	width: 266px;
	height: 182px;
	margin-left: -133px;
	margin-top: -170px;
	background-image: url(../images/p0-title.png);
}
.desc1 {
	width: 233px;
	height: 68px;
	margin-left: -140px;
	margin-top: 60px;
	background-position: -0px -254px;
	display: none;
}
.desc2 {
	width: 250px;
	height: 68px;
	margin-left: -110px;
	margin-top: 90px;
	background-position: -0px -186px;
	display: none;
}
@-webkit-keyframes p0FlashAnimation {
	0% { opacity: 0; -webkit-transform: translate(550px, -500px); }
	100% { opacity: 1; -webkit-transform: none; }
}
.page0.play .flash {
	display: block;
	-webkit-animation: 'p0FlashAnimation' .5s forwards;
}
@-webkit-keyframes p0TitleAnimation {
	0% { -webkit-transform: none; }
	25% { -webkit-transform: translate(0, -5px); }
	50% { -webkit-transform: none; }
	75% { -webkit-transform: translate(0, 5px); }
	100% { -webkit-transform: none; }
}
.page0.play .title {
	-webkit-animation: 'p0TitleAnimation' 2s linear 1.2s infinite both;
}
@-webkit-keyframes p0CircleAnimation {
	0% { -webkit-transform: none; }
	25% { -webkit-transform: translate(0, 5px); }
	50% { -webkit-transform: none; }
	75% { -webkit-transform: translate(0, -5px); }
	100% { -webkit-transform: none; }
}
.page0.play .circle {
	-webkit-animation: 'p0CircleAnimation' 2s linear 1.2s infinite both;
}
@-webkit-keyframes p0Desc1Animation {
	0% { opacity: 0; -webkit-transform: translate(-466px, 80px); }
	100% { opacity: 1; -webkit-transform: none; }
}
.page0.play .desc1 {
	display: block;
	-webkit-animation: 'p0Desc1Animation' 1s ease-in forwards;
}
@-webkit-keyframes p0Desc2Animation {
	0% { opacity: 0; -webkit-transform: translate(500px, -80px); }
	100% { opacity: 1; -webkit-transform: none; }
}
.page0.play .desc2 {
	display: block;
	-webkit-animation: 'p0Desc2Animation' 1.2s ease-in forwards;
}

/* #### 第1页 最滂沱 #### */

.page1 .bg { 
	background: url(../images/p1-bg.png) repeat 0 0;
	background-size: 41px;
}
@-webkit-keyframes p1BgAnimation {
	0% { background-position: 0px 0px; }
	100% { background-position: -10000px 10000px; }
}
.page1.play .bg {
	-webkit-animation: 'p1BgAnimation' 100s linear infinite;
}

/* ----- */

.page1 i {
	width: 40px;
	height: 40px;
	background-position: -241px -72px;
	left: auto;
	top: auto;
	margin-top: 0;
	margin-left: 0;
	z-index: 2;
}
@-webkit-keyframes p1RainDropAnimation {
	0% { -webkit-transform: none; }
	100% { -webkit-transform: translate(-1000px, 1000px); }
}
.page1.play i {
	-webkit-animation: 'p1RainDropAnimation' 1s ease-in infinite;
}
.page1 .sparks i:nth-child(1) {
	top:-40px;left:50%;-webkit-animation-duration:1s;-webkit-animation-delay:.2s
}
.page1 .sparks i:nth-child(2) {
	top:-40px;left:80%;-webkit-animation-duration:1.2s;-webkit-animation-delay:.7s
}
.page1 .sparks i:nth-child(3) {
	top:-40px;left:100%;-webkit-animation-duration:1s;-webkit-animation-delay:.5s
}
.page1 .sparks i:nth-child(4) {
	left:100%;top:10%;-webkit-animation-duration:1.5s;-webkit-animation-delay:.8s
}
.page1 .sparks i:nth-child(5) {
	left:100%;top:20%;-webkit-animation-duration:1.6s;-webkit-animation-delay:1.5s
}
.page1 .sparks i:nth-child(6) {
	left:100%;top:30%;-webkit-animation-duration:1.2s;-webkit-animation-delay:0s
}
.page1 .sparks i:nth-child(7) {
	left:100%;top:50%;-webkit-animation-duration:1s;-webkit-animation-delay:1.3s
}

/* #### 第2页 最慷慨 #### */

.page2 .bg {
	-webkit-transform: translateZ(-10px);
}
.page2 {
	/*-webkit-perspective: 2000px;*/
}
.page2 .odd, .page2 .even {
	top: 0;
	width: 18px;
	height: 100%;
	background-repeat: repeat-y;
	/*-webkit-transform-style: preserve-3d;*/
}
.page2 .odd {
	background-image: url(../images/p2-bg1.png);
	background-position: 0 9px;
}
.page2 .even {
	background-image: url(../images/p2-bg2.png);
	background-position: 0 0;
}
@-webkit-keyframes p2BgAnimation {
	0% {-webkit-transform: rotateY(0deg) }
	50% {-webkit-transform: rotateY(180deg) }
	100% {-webkit-transform: rotateY(180deg) }
}
.page2.play .odd, .page2.play .even {
	-webkit-animation: 'p2BgAnimation' 2s linear infinite;
}

/* ----- */

.page2 .sparks {
	z-index: 2;
}
.page2 i {
	top: 100%;
	left: 0;
	width: 17px;
	height: 17px;
	background-position: -352px -72px;
	z-index: 2;
	-webkit-transform: translateZ(20px);
}

/* #### 第3页 最靠谱 #### */

.page3 .bg-inner {
	background: url(../images/p3-bg/1.png) repeat 0 0;
	background-size: 64px;
}
@-webkit-keyframes p3BgAnimation {
	0%,16%   { background-image: url(../images/p3-bg/1.png); }
	17%,21%  { background-image: url(../images/p3-bg/2.png); }
	22%,27%  { background-image: url(../images/p3-bg/3.png); }
	28%,32%  { background-image: url(../images/p3-bg/4.png); }
	33%,49%  { background-image: url(../images/p3-bg/5.png); }
	50%,55%  { background-image: url(../images/p3-bg/6.png); }
	56%,60%  { background-image: url(../images/p3-bg/7.png); }
	61%,66%  { background-image: url(../images/p3-bg/8.png); }
	67%,82%  { background-image: url(../images/p3-bg/9.png); }
	83%,88%  { background-image: url(../images/p3-bg/10.png); }
	89%,93%  { background-image: url(../images/p3-bg/11.png); }
	94%,100% { background-image: url(../images/p3-bg/12.png); } 
}
.page3.play .bg-inner {
	-webkit-animation: 'p3BgAnimation' 2s linear infinite;
}

/* #### 第4页 最直接 #### */

.page4 .odd, .page4 .even {
	left: 0;
	width: 100%;
	height: 48px;
	background: url(../images/p4-bg/10.png) repeat 0 0;
	background-size: auto 100%;
}
.page4 .even {
	background-position: 24px 0;
}
@-webkit-keyframes p4BgAnimation {
	0%,6%    { background-image: url(../images/p4-bg/1.png); }
	7%,12%   { background-image: url(../images/p4-bg/2.png); }
	13%,19%  { background-image: url(../images/p4-bg/3.png); }
	20%,26%  { background-image: url(../images/p4-bg/4.png); }
	27%,32%  { background-image: url(../images/p4-bg/5.png); }
	33%,39%  { background-image: url(../images/p4-bg/6.png); }
	40%,46%  { background-image: url(../images/p4-bg/7.png); }
	47%,52%  { background-image: url(../images/p4-bg/8.png); }
	53%,59%  { background-image: url(../images/p4-bg/9.png); }
	60%,100% { background-image: url(../images/p4-bg/10.png); }
}
.page4.play .odd, .page4.play .even {
	-webkit-animation: 'p4BgAnimation' 1.2s linear infinite;
}

/* ----- */

.lightning {
	background: #FFF;
	opacity: 0;
}
@-webkit-keyframes p4LightningAnimation {
	0%   { opacity: 1; }
	24%  { opacity: 0; }
	25%  { opacity: 1; }
	49%  { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
.page4.play .lightning {
	-webkit-animation: 'p4LightningAnimation' .5s;
}

/* #### 第5页 最省心 #### */

.page5 .odd, .page5 .even {
	left: 0;
	width: 100%;
	height: 34px;
	background-repeat: repeat-x;
}
.page5 .odd {
	background-image: url(../images/p5-bg1.png);
	background-size: 40px 34px;
}
.page5 .even {
	background-image: url(../images/p5-bg2.png);
	background-size: 79px 34px;
}
@-webkit-keyframes p5BgAnimationOdd {
	0% { background-position: 0 0; }
	100% { background-position: 40px 0; }
}
@-webkit-keyframes p5BgAnimationEven {
	0% { background-position: 0 0; }
	100% { background-position: -79px 0; }
}
.page5.play .odd {
	-webkit-animation: 'p5BgAnimationOdd' 2s linear infinite;
}
.page5.play .even {
	-webkit-animation: 'p5BgAnimationEven' 4s linear infinite;
}

/* ----- */

.page5 i {
	background-position: -191px -72px;
	width: 50px;
	height: 50px;
	opacity: 0;
	-webkit-transition: opacity 1s ease;
}
.page5 .sparks i:nth-child(1) {
	margin-top: -172px;
	margin-left: -72px;
	z-index: 2;
}
.page5 .sparks i:nth-child(2) {
	margin-left: 70px;
	margin-top: -60px;
}
.page5 .sparks i:nth-child(3) {
	margin-left: 25px;
	margin-top: 20px;
}
.page5 .sparks i:nth-child(4) {
	margin-left: -140px;
	margin-top: 70px;
}
.page5 .sparks i:nth-child(5) {
	margin-left: 90px;
	margin-top: 150px;
}
@-webkit-keyframes p5RotateAnimation {
	0% { -webkit-transform:rotate(0deg) }
	100% { -webkit-transform:rotate(360deg) }
}
@-webkit-keyframes p5RotateAnimationReverse {
	0% { -webkit-transform:rotate(0deg) }
	100% { -webkit-transform:rotate(-360deg) }
}
.page5.play i {
	opacity: 1;
	-webkit-animation: 'p5RotateAnimation' 2s linear infinite;
}
.page5.play .sparks i:nth-child(1), .page5.play .sparks i:nth-child(5) {
	-webkit-animation-name: 'p5RotateAnimationReverse';
	-webkit-animation-duration: 1.5s;
}
.page5.play-more .sparks {
	-webkit-transform: translate(0, -220px);
	-webkit-animation: 'moveUp' .5s forwards;
}

/* #### 第6页 最包容 #### */

.page.page6 {
	background: #27272f;
}
.page6 .mask {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/p6-bg.png) no-repeat center;
	background-size: 320px;
}
.page6 .highlight {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #363844;
	border: 0 solid #5f6379;
}
@-webkit-keyframes p6HighlightAnimation {
	0% { width: 0; height: 0; margin-left: 0; margin-top: 0; border-width: 10px; }
	100% { width: 320px; margin-left: -160px; height: 600px; margin-top: -300px; border-width: 10px; }
}
.page6.play .highlight {
	-webkit-animation: 'p6HighlightAnimation' 2s linear 1.5s infinite;
}
@-webkit-keyframes p6BgAnimation {
	0%,99% { background: #27272f; }
	100% { background: #363844; }
}
.page6.play {
	-webkit-animation: 'p6BgAnimation' 2s linear 1.5s 1 forwards;
}

/* ----- */

.bar1, .bar2, .bar3, .bar4, .bar5 {
	width: 10px;
	height: 10px;
	background: #27272f;
	left: auto;
	top: auto;
	-webkit-animation-function: linear;
	-webkit-animation-fill-mode: forwards;
}
.bar1 {
	height: 192px;
	top: 0;
	right: -1px;
	-webkit-animation-duration: .4s;
	-webkit-animation-delay: .4s;
}
.bar2 {
	width: 115px;
	top: -1px;
	left: 7px;
	-webkit-animation-duration: .2s;
	-webkit-animation-delay: .8s;
}
.bar3 {
	height: 292px;
	bottom: 10px;
	left: 7px;
	-webkit-animation-duration: .6s;
	-webkit-animation-delay: 1s;
}
.bar4 {
	width: 114px;
	right: 0;
	bottom: 9px;
	-webkit-animation-duration: .2s;
	-webkit-animation-delay: 1.6s;
}
.bar5 {
	height: 91px;
	right: 0;
	top: 200px;
	-webkit-animation-duration: .2s;
	-webkit-animation-delay: 1.8s;
}
@-webkit-keyframes barHeightAnimation {
	100% { height: 0 }
}
@-webkit-keyframes barWidthAnimation {
	100% { width: 0 }
}
.play .bar1, .play .bar3, .play .bar5 {
	-webkit-animation-name: 'barHeightAnimation';
}
.play .bar2, .play .bar4 {
	-webkit-animation-name: 'barWidthAnimation';
}

/* #### 第7页 最随变 #### */

.page7 .bg-inner {
	background: url(../images/p7-bg/1.png) repeat center;
	background-size: 58px;
}
@-webkit-keyframes p7BgAnimation {
	0%,24%   { background-image: url(../images/p7-bg/1.png); }
	25%,49%  { background-image: url(../images/p7-bg/2.png); }
	50%,74%  { background-image: url(../images/p7-bg/3.png); }
	75%,100% { background-image: url(../images/p7-bg/4.png); }
}
.page7.play .bg-inner {
	-webkit-animation: 'p7BgAnimation' 2s linear infinite;
}

/* ----- */

.page7 i {
	background: #cdd63d;
	width: 15px;
	height: 15px;
	opacity: 0;
}
.page7 .sparks i:nth-child(1) {
	margin-left: 10px;
	margin-top: -180px;
}
.page7 .sparks i:nth-child(2) {
	margin-left: 55px;
	margin-top: -90px;
}
.page7 .sparks i:nth-child(3) {
	margin-left: -75px;
	margin-top: 40px;
	width: 10px;
	height: 10px;
}
.page7 .sparks i:nth-child(4) {
	margin-left: 50px;
	margin-top: 100px;
	width: 10px;
	height: 10px;
}
.page7 .sparks i:nth-child(5) {
	margin-left: -20px;
	margin-top: 140px;
}
@-webkit-keyframes p7RotateAnimation {
	0% { -webkit-transform: scale(0,0) rotate(0deg); opacity: 0; }
	50% { -webkit-transform: scale(1,1) rotate(360deg); opacity: 1; }
	100% { -webkit-transform: scale(0,0) rotate(720deg); opacity: 0; }
}
@-webkit-keyframes p7RotateAnimationReverse {
	0% { -webkit-transform: scale(0,0) rotate(0deg); opacity: 0; }
	50% { -webkit-transform: scale(1,1) rotate(-360deg); opacity: 1; }
	100% { -webkit-transform: scale(0,0) rotate(-720deg); opacity: 0; }
}
.page7.play i {
	-webkit-animation: 'p7RotateAnimation' 2s linear 0.5s infinite;
}
.page7.play .sparks i:nth-child(3) {
	-webkit-animation-duration: 3s;
}
.page7.play .sparks i:nth-child(2), .page7.play .sparks i:nth-child(5) {
	-webkit-animation: 'p7RotateAnimationReverse' 2s linear 0.8s infinite;
}
.page7.play .sparks i:nth-child(2) {
	-webkit-animation-duration: 1.8s;
}
.page7.play-more .sparks {
	-webkit-transform: translate(0, -220px);
	-webkit-animation: 'moveUp' .5s forwards;
}

/* #### 第8页 尾页 #### */

.end-1 {
	width: 320px;
	height: 186px;
	top: 0;
	margin-left: -160px;
	background-image: url(../images/end-1.png);
	display: none;
}
.end-2 {
	width: 195px;
	height: 160px;
	top: auto;
	bottom: 0;
	margin-left: -98px;
	background-image: url(../images/end-2.png);
	display: none;
}
.page8 .btn {
	width: 135px;
	height: 43px;
	margin-left: -67px;
	margin-top: -10px;
	background-position: -237px -280px;
	display: none;
}
.page8.play .end-1 {
	display: block;
	-webkit-animation: 'fadeInDown' .5s forwards;
}
.page8.play .end-2 {
	display: block;
	-webkit-animation: 'fadeInUp' .5s forwards;
}
.page8.play .btn {
	display: block;
	-webkit-animation: 'fadeIn' 2.5s forwards;
}

/* #### 页面统一背景色 #### */
.page {
	background-color: #27272f;
}

/* css sprite */

.page1 .h0, .page2 .h0, .page3 .h0, .page4 .h0, .page5 .h0, .page6 .h0, .page7 .h0 {
	background-image: url(../images/title-sprite.png);
	background-size: 520px 620px;
}

.page1 .desc, .page2 .desc, .page3 .desc, .page4 .desc, .page5 .desc, .page6 .desc, .page7 .desc {
	background-image: url(../images/desc-sprite.png);
	background-size: 1610px 180px;
}

.page8 .title, .contact, .logo, .h1, .h2, .desc1, .desc2, .page5 i, .page1 i, .music, .arrow, .page2 i, .page8 .btn {
	background-image: url(../images/sprite.png);
	background-size: 372px 323px;
}

/* Loader */

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
.scaleOut {
  opacity: 0;
  -webkit-transform: scale(1.6);
  -webkit-transition: all 1s;
}
.loader {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #27272f;
}
.loader-graph, .loader-progress {
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 64px;
  height: 64px;
  margin: -16px 0 0 -32px;
}
.loader-graph {
  color: transparent;
  text-align: center;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ffffff;
  border-radius: 32px;
  -webkit-animation: rotate 0.72s linear infinite;
}
.loader-text {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  line-height: 24px;
  font-size: 16px;
  top: 50%;
  text-align: center;
  margin-top: 1em;
}
.loader-progress {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  line-height: 24px;
}
/*  |xGv00|23895a2f908e3a0a886c12629cd0db16 */